.background{
    background-color: #2e7cf6;
    height: 100%;
}
.card{
background-color: transparent !important;
color: #ffffff;
border: none;
margin-top: 35%;
}
.btn[type=submit]{
    border-radius: 50px;
}
.btn-link{
    color: white;
}
h1{
    color: white;
}
.form-container{
    background:#fff;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
  }